@import '~bootstrap/dist/css/bootstrap.min.css';

.header {
    border-top: 5px solid #98A8BD;
    width: 100%;
    justify-content: center;
    height: 100px;
}

.nav {
    background-color: #002A5E;
    display: flex;
}

.nav-item {
    height: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nav-link {
    font-size: large;
    cursor: pointer;
    margin: 1em;
    line-height: 18px;
    font-family: "Raleway", "Open Sans", sans-serif;
    font-weight: 600;

}

.nav-link {
    color: white;
}

.nav-link:hover {
    text-decoration: none;
    color: white;
    border: none;
}


.selected {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
