<header class="header">
  <ul class="nav nav-tabs">
    <li class="nav-item" >
        <a class="nav-link" [ngClass]="{'selected': isSelected('/party-resignation-category')}"
        (click)='navigateTo("/party-resignation-category")'>Party/Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'selected': isSelected('/party-resignation-date')}"
      (click)='navigateTo("/party-resignation-date")'>Party/Resignation Date</a>
    </li>
  </ul>
  <div class="header-sidebar"></div>
</header>