<div class="tela-inicial">
    <div class="tela-inicial-title">
        Bem vindo ao projeto de teste da Lemobs
    </div>

    <div class="tela-inicial-descricao">
        <p>
            Este projeto foi desenvolvido como teste para a vaga de desenvolvedor na Lemobs.
            O projeto foi desenvolvido em Angular 10. O objetivo dele era integrar Views criadas em Tableau para código.
        </p>
        
        <p>
            Infelizmente não foi possível utilizar as Views produzidas por falta de acesso ao Tableau Server ou Tableau Online.
            Foram, então, utilizadas duas Views disponibilizadas na 
            <a href="https://public.tableau.com/gallery/?tab=featured&type=featured" target="_blank">Galeria do Tableau</a>.
        </p>
        <p>
            As Views produzidas refletem análises realizadas em tabelas de uma base SQL, em PostgreSQL.
            As Views e o banco de dados estão hospeados no mesmo repositório do GitHub e podem ser acessados clicando 
            <a href="https://github.com/rcarnevale/lemobs-teste-tableau-db" target="_blank">aqui</a>.
        </p>
        <p>
            Para mais informações, entrar em contato por email clicando <a href="mailto:rcarnevale89@gmail.com">aqui</a>.
        </p>
    </div>
</div>
